/* CSS code for your plugin */

#skeleton {
  width:400px;
  height:30px;
  margin:100px auto;
  padding:30px;
  font-size:30px;
  text-align:center;
  color:#fff;
  border:5px outset #000;
  background: #45484d;
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
  text-shadow:0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
  border-radius:95px 5px;
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  transform:rotate(5deg);
  letter-spacing:10px;
  box-shadow:10px 10px 10px rgba(0,0,0,0.5);
  cursor:pointer;
}
#skeleton:hover {
  -moz-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

.skeleton-button {
  background:url('head.png') center center no-repeat !important;
  min-width:26px;
  min-height:26px;
}